/* reset */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, input, select, textarea, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit;
font-size:100%; font-family:inherit; vertical-align:baseline;}
:focus {outline:0;outline-color:transparent;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
.clear {clear:both;height:0;overflow:hidden;}

/* main */

html, body {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
body {
    background-color: #F3F3F3;
}
#wrapper {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}
#logo-wrapper {
    padding: 0 2%;
}
#logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto 20px auto;
}
#desc {
    color: #4b4e4e;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 5px 30px 5px;
    text-align: center;
    font-size: 16px;
}
a {
    color: #de2152;
    text-decoration: none;
}
#text-header {
    background-color: #4b4e4e;
    color: #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
    font-size: 13px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
#text-footer {
    background-color: #F3F3F3;
    border-top: 1px solid #E7E7E7;
}
.shadow {
    background: url("/images/unminify/form-shadow.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    bottom: -6px;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#text-block {
    position: relative;
}
#text-block .shadow {
    opacity: 0.5;
}
#text-field {
    overflow: hidden;
}
#text-field .CodeMirror {
    height: 360px;
    font-size: 12px;
}
.text-field-error .CodeMirror {
    background-color: #FFFEE6 ! important;
    transition: background 0.3s ease 0s;
}
#form {
    background-color: #FFFFFF;
}
#footer {
    color: #afabab;
    text-align: center;
    margin: 20px 0 15px 0;
    font-size: 13px;
}
#footer a {
    color: #afabab;
    text-decoration: underline;
}
.line {
    background-color: #e9e9e9;
    width: 100%;
    height: 1px;
    margin-top: 15px;
}
#buttons {
    width: 300px;
    height: 54px;
    margin: 0 auto;
    padding-top: 20px;
}
#start-button, #clear-button {
    margin: 0 10px;
    float: left;
    height: 34px;
}
.action-button {
    background-color: #258688;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    outline: medium none;
    text-transform: uppercase;
    text-align: center;
    transition: background 0.3s ease 0.1s;
    width: 129px;
    line-height: 34px;
}
.action-button:hover {
    background-color: #E35F4D;
}
#main-form {
    padding: 20px 5px;
}
#progress-bar .ui-progressbar-value {
    margin: 0 ! important;
}
.block {
    position: relative;
}
.x-pretty-alert {
    padding-top: 20px !important;
    text-align: center;
}
.pretty-policy p {
    margin: 10px 0;
}
#start-button-progress {
    width: 129px;
    height: 34px;
    background-color: #E35F4D;
    padding: 12px;
}
#start-button-progress img {
    display: block;
    width: 43px;
    height: 11px;
    margin: 0 auto;
}
#like-it {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #414141;
    margin-top: 40px;
}


/* share */

#share {
    width: 300px;
    margin: 10px auto 0 auto;
    text-align: center;
}
#share .pop {
    margin: 0 5px;
}
.share-bw {
    background: url(/images/social-icons.png) no-repeat scroll left top transparent;
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 0;
    margin: 0;
}
.share-bw-facebook {
    background-position: -1px -1px;
}
.share-bw-facebook:hover {
    background-position: -1px -51px;
}
.share-bw-twitter {
    background-position: -50px -1px;
}
.share-bw-twitter:hover {
    background-position: -50px -51px;
}
.share-bw-googleplus {
    background-position: -99px -1px;
}
.share-bw-googleplus:hover {
    background-position: -99px -51px;
}
.share-bw-stumbleupon {
    background-position: -148px -1px;
}
.share-bw-stumbleupon:hover {
    background-position: -148px -51px;
}
.share-bw-reddit {
    background-position: -197px -1px;
}
.share-bw-reddit:hover {
    background-position: -197px -51px;
}
.share-bw-vkontakte {
    background-position: -246px -1px;
}
.share-bw-vkontakte:hover {
    background-position: -246px -51px;
}
