<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<div class="container">
    <h2> Start Coding! </h2>

    <p> Here are some examples that come out of the box! </p>

    <div class="sample_code">
      <label>
          <input name="sample_code" type="radio" value="default" checked />
          <span> Default </span>
      </label>
      <label>
          <input name="sample_code" type="radio" value="fibo_it" />
          <span> Iterative Fibonacci </span>
      </label>
      <label>
          <input name="sample_code" type="radio" value="fibo_rec"  />
          <span> Recursive Fibonacci </span>
      </label>
      <label>
          <input name="sample_code" type="radio" value="factorial_it"  />
          <span> Iterative Factorial </span>
      </label>
      <label>
          <input name="sample_code" type="radio" value="factorial_rec"  />
          <span> Recursive Factorial </span>
      </label>
      <label>
          <input name="sample_code" type="radio" value="dogs"  />
          <span> Dogs </span>
      </label>
    </div>


    <!--  REFERENCE: https://codepen.io/kpourdeilami/pen/KDepk -->
    <form action="/cgi-bin/server.py" method="post" align="center">
        <textarea id="main" name="textcontent" cols="40" rows="4" ng-keyup="autoExpand($event)">
        </textarea>
        <div class="">
            <label>
                <input name="type" type="radio" value="html" checked />
                <span>HTML</span>
            </label>
            <label>
                <input name="type" type="radio" value="plain" />
                <span>Plain</span>
            </label>
        </div>
        <div class="">
            <button class="btn waves-effect waves-light" type="submit" name="action"> trendlit!
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

    <div class="">
        <h2> Upload Your Own File</h2>
        <p> If you don't like our text editor you can go and F ...ind a trendlit file that is stored in your computer.
        </p>
    </div>

    <form enctype="multipart/form-data" action="/cgi-bin/upload.py" method="post" align="center">
        <div>
            <input type="file" name="filename" />
        </div>
        <br>
        <div class="">
            <button class="btn waves-effect waves-light" type="submit" name="action"> trendlit!
                <i class="material-icons right">cloud</i>
            </button>
        </div>
    </form>
</div>

<style media="screen">
    body {
        /* background: #43434B; */
        padding-top: 5%;
    }

    textarea {
        /* height: auto; */
        /* max-width: 90%; */
        height: 60%;
        color: #999;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        line-height: 1em;
        border: none;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        padding: 30px;
        -webkit-transition: height 2s ease;
        -moz-transition: height 2s ease;
        -ms-transition: height 2s ease;
        -o-transition: height 2s ease;
        transition: height 2s ease;
    }

    /* * {
        -webkit-font-smoothing: antialiased !important;
    } */
</style>

<script type="text/javascript">


  $('input[name="sample_code"]').on('change', function() {
    var radioValue = $("input[name='sample_code']:checked").val()

    if (radioValue == "fibo_it") {
      $("#main").val(fibonacci_iterative_sample_code)

    } else if (radioValue == "fibo_rec") {
      $("#main").val(fibonacci_recursive_sample_code)

    } else if (radioValue == "factorial_it") {
      $("#main").val(factorial_iterative_sample_code)

    } else if (radioValue == "factorial_rec") {
      $("#main").val(factorial_recursive_sample_code)

    } else if (radioValue == "dogs") {
      $("#main").val(dogs_sample_code)

    } else {
      $("#main").val(default_code)
    }

  });

  fibonacci_recursive_sample_code = `
  program fibonacci_recursive
      script {

          def fib(int n) : int {

              if (n <= 1){
                  spit n
              }

              spit (fib(n - 1)) + (fib(n - 2))
          }

          eval(fib(13))
      }
  `
  fibonacci_iterative_sample_code = `
  program fibonacci_iterative
      script {

          def fibo2 (int nth_number) : int {

              int previous_previous_number = 0
              int previous_number = 0
              int current_number = 1
              int i = 1

          loop (i < nth_number)  {
              previous_previous_number = previous_number

              previous_number = current_number

              current_number = previous_previous_number + previous_number

              i = i+1
          }
              spit (current_number)
          }

          eval(fibo2(50))
      }

  `
  factorial_recursive_sample_code = `
  program factorial_recursive
      script {

          def factorial(int n) : int {
              if (n is 0) {
                  spit 1;
              }

              spit n * (factorial(n - 1))
          }

          eval(factorial(10)) # savior
      }
`
  factorial_iterative_sample_code = `
  program factorial_iterative
      script {

          int product = 1
          int j = 1
          int N = 11

          loop(j <= N) {
              product = product * j
              j = j + 1
          }

          eval(product)
      }
`
  dogs_sample_code = `
  program dogs

  script {
    int number_of_dogs = 1000
    int counter = 0
  }

  div class : "pretty" {}

  div class : "container" {
    div class : "row" {
      <% loop(counter < number_of_dogs) %>
        img src : "https://picsum.photos/id/237/200/300" {}
        <% counter = counter + 1 %>
      <% end %>
    }
  }
  `
  default_code = `
  program the_name_of_the_program
      script {
        int card_counter = 9
        int arr_size = 9
        int aux_counter = 0
        int arr[9] = []

        arr[0] = 5
        arr[1] = -1
        arr[2] = 4
        arr[3] = 2
        arr[4] = -8
        arr[5] = 100
        arr[6] = -2
        arr[7] = 3
        arr[8] = 42

        def my_find(int num, int arr_size) : bool {
            int i
            bool result

            loop(i < arr_size)  {
                if(arr[i] is num){
                    result = True
                    spit result
                }
                i = i + 1
            }

            spit result
        }

        def init_array(int size_array){

            int counter = size_array
            int aux = 0

            counter = size_array - 1

            loop (counter > 0) {
                arr[aux] = counter
                counter = counter - 1
                aux = aux + 1
            }
        }

        def print_array (int array_size){
          int i
          loop (i < array_size) {
            eval(arr[i])
            i = i + 1
          }
        }

        def bubble_sort(int array_size) {
            int i = 0, j=0, temp = 0

            loop(i < array_size - 1) {
                loop(j < array_size - i - 1) {
                    if (arr[j] > arr[j+1]) {
                        temp = arr[j]
                        arr[j] = arr[j+1]
                        arr[j+1] = temp
                    }
                    j = j+1
                }
                j = 0
                i = i+1
            }
            i = 0
        }

        def fibo_it (int nth_number) : int {

          int previous_previous_number = 0
          int previous_number = 0
          int current_number = 1
          int i = 1
              loop (i < nth_number)  {
                  previous_previous_number = previous_number
                  previous_number = current_number
                  current_number = previous_previous_number + previous_number

                  i = i+1
              }
              spit (current_number)
          }

        def factorial_it(int N) : int {
              int product = 1
              int j = 1

              loop(j <= N) {
                  product = product * j
                  j = j + 1
              }

              spit (product)
        }



      }

      head class : "pretty" {}
      div class : "container" {


      h1 { <^ "Headers" ^> }
      p {
          <^ "We provide some basic styling on header tags. In the example, you can
          see the the 6 header tags' different sizes."^>
      }

      div class : "card-panel" {
          h1 { <^ "Header1" ^> }
          h2 { <^ "Header2" ^> }
          h3 { <^ "Header3" ^> }
          h4 { <^ "Header4" ^> }
          h5 { <^ "Header5" ^> }
          h6 { <^ "Header6" ^> }
      }

      h1 {<^ "Cards Are Out Of Order!" ^>}
      h2 {<^ "Why not apply a sort?" ^>}
        div class : "row" {
        <% loop (aux_counter < card_counter) %>
          div class : "col m4" {
            div class : "card " {
              div class : "card-image" {
                img src : "https://via.placeholder.com/150" {}
                span class : "card-title" {
                  <^ arr[aux_counter] ^>
                }
              }
              div class : "card-content" {
                span class : "card-title" {
                  <^ arr[aux_counter] ^>
                }
                p {
                  <^ "I am a very simple card. I am good at containing small bits of information." ^>
                  <^ "I am convenient because I require little markup to use effectively." ^>
                }
              }
              div class : "card-action" {
               link href : "#" {<^"This is a link"^>}
              }
            }
          }
          <% aux_counter = aux_counter + 1 %>
          <% end %>
        }
        <% aux_counter = 0 %>
        <% bubble_sort(arr_size) %>
        h1 { <^ "Cards are sorted!" ^> }
        p { <^ "This is like magic , but real" ^> }
        div class : "row" {
        <% loop (aux_counter < card_counter) %>
          div class : "col m4" {
            div class : "card " {
              div class : "card-image" {
                img src : "https://via.placeholder.com/150" {}
                span class : "card-title" {
                  <^ arr[aux_counter] ^>
                }
              }
              div class : "card-content" {
                span class : "card-title" {
                  <^ arr[aux_counter] ^>
                }
                p {
                  <^ "I am a very simple card. I am good at containing small bits of information." ^>
                  <^ "I am convenient because I require little markup to use effectively." ^>
                }
              }
              div class : "card-action" {
               link href : "#" {<^"This is a link"^>}
              }
            }
          }
          <% aux_counter = aux_counter + 1 %>
          <% end %>
        }

        h1 { <^ "Show me only the cards with a negative value!" ^> }
          div class : "row" {
          <% aux_counter = 0 %>
          <% loop (aux_counter < card_counter) %>
              <% if (arr[aux_counter] < 0) %>
                div class : "col m4" {
                  div class : "card " {
                    div class : "card-image" {
                      img src : "https://via.placeholder.com/150" {}
                      span class : "card-title" {
                        <^ arr[aux_counter] ^>
                      }
                    }
                    div class : "card-content" {
                      span class : "card-title" {
                        <^ arr[aux_counter] ^>
                      }
                      p {
                        <^ "I am a very simple card. I am good at containing small bits of information." ^>
                        <^ "I am convenient because I require little markup to use effectively." ^>
                      }
                    }
                    div class : "card-action" {
                     link href : "#" {<^"This is a link"^>}
                    }
                  }
                }
            <% end %>
            <% aux_counter = aux_counter + 1 %>
            <% end %>
          }
      h1 { <^ "Is 1234 in the card list? "^> }
      h3 { <^ "Let's find out! "^> }
      <% if (my_find(1234, arr_size)) %>
          h4 { <^ "Yes! it is! "^> }
      <% else %>
          h4 { <^ "It is not :( "^> }
      <% end %>

      h1 { <^ "What about number 42? "^> }
      <% if (my_find(42, arr_size)) %>
          h4 { <^ "Yes! it is! "^> }
          h5 { <^ "Coincidence? I don't think so ;)" ^> }
      <% else %>
          h4 { <^ "It is not :( "^> }
      <% end %>

      h1 { <^ "Speaking about number 42 ..."^> }
      h2 { <^ "What's the 42th fibonacci number?"^> }
      h3 { <^ fibo_it(42 - 1) ^> }
      h2 { <^ "And the first 42 numbers?"^> }
      h3 { <^ "I Don't know, let's count!"^> }
      ol {
          <% aux_counter = 0 %>
          <% loop (aux_counter < 42) %>
              li { <^ fibo_it(aux_counter) ^> }
              <% aux_counter = aux_counter + 1 %>
          <% end %>
      }

      h2 { <^ "This is correct, but SUPER ugly."^> }
      h3 { <^"Let's make it prettier!"^> }

      table {
          thead {
              tr {
                  th {
                      <^ "Fibonacci Sequence like a boss" ^>
                  }
              }
          }

          <% aux_counter = 0 %>
          tbody {

              <% loop (aux_counter < 42) %>
                  tr {
                      td { <^ fibo_it(aux_counter) ^>  }
                  }
                  <% aux_counter = aux_counter + 1 %>
              <% end %>
          }
      }

      }

  `

  document.getElementById("main").innerHTML=default_code;

</script>
